# Cache
.cache
.eslintcache
.npm
.pnpm-store/

# Compiled output
dist/

# Dependencies
node_modules/

# Environment
.env
.env.*local
.env.local

# IDEs and editors
.c9/
.classpath
.idea
.project
.settings/
*.launch
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json

# Logs
*.log
lerna-debug.log*
logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store

# Temporary files
*.bak
*.swp
*.tmp

# Tests
.nyc_output
coverage
